#window {
    text-align: left;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    /*Adsense bug*/
    max-height: 100%;
    min-height: 100%;
}

#content {
    flex: 3;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

#center {
    display: flex;
    justify-content: flex-start;
    flex: 3;
    overflow: hidden;
}

#menu {
    position: relative;
    z-index: 10;
    background: #f1f1f1;
    flex: 0 0 15%;
    min-width: 175px;
}

#middle {
    background: #FBFBFB;
    padding: 10px 10px 10px 10px;
    overflow-y: auto;
    flex: 1 1 auto;
    position: relative;
}

#lateral {
    background: #f7f7f7;
    overflow-y: auto;
    flex: 0 0 25%;
}

#menu:after, #menu:before, #comodo:before {
    position: absolute;
    z-index: 3;
    content: '';
}

#menu:before {
    top: 0px;
    right: -6px;
    width: 6px;
    height: 6px;
    background-image: linear-gradient(to right, rgba(51, 51, 51, 0.28) 0px, transparent 5px);
    border-radius: 2px 0px 0px 0px;
}

#menu:after {
    background-image: linear-gradient(to right, rgba(51, 51, 51, 0.28) 0px, transparent 5px);
    width: 6px;
    top: 6px;
    bottom: 0px;
    right: -6px;
}

#comodo:before {
    background-image: linear-gradient(to bottom, rgba(51, 51, 51, 0.28) 0px, transparent 5px);
    height: 6px;
    bottom: -6px;
    right: 0px;
    left: 0px;
}